<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <link rel="stylesheet" href="../../assets/css/custom.css">
    <script src="../../components/navbar.js" type="module"></script>
    <script src="../../components/footer.js" type="module"></script>
</head>
<body>
    <main-navbar active-link="Home"></main-navbar>

    <div class="vh-100"></div>

    <main-footer active-link="Home"></main-footer>
    <script src="../../assets/js/bootstrap.min.js"></script>
</body>
</html>